/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin-left: 3em;
  margin-right: 3em;
}

nav a{
  text-decoration: none;
}

nav a:hover{
  color:red
}

li:hover {
  color: red
}

form{
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}

body{
  background-color: rgb(234, 246, 250)
}

h3{
  color: rgba(37, 124, 211, 0.76);
}
